<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<gvnix-menu id="_menu" rooMenuBasePath="/">
<menu-item id="c_demandante" labelCode="menu_category_demandante_label" name="Demandante">
        <menu-item hidden="false" id="i_demandante_new" labelCode="menu_item_demandante_new_label" messageCode="global_menu_new" roles="" url="/demandantes?form"/>
    <menu-item hidden="false" id="i_demandante_list" labelCode="menu_item_demandante_list_label" messageCode="global_menu_list" roles="" url="/demandantes?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
</gvnix-menu>
